[hidden] {
  display: none !important;
}


body {
  margin: 0;
  padding: 5px;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}


.scholarship-filter,
.scholarship-list,
.scholarship-list a,
.scholarship-list a:link,
.scholarship-list a:visited,
.scholarship-list a:hover,
.scholarship-list a:active {
  color: #333333;
}
.scholarship-list {
  margin-top: 15px;
}
.scholarship-list-header {
  display: none;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #174E8B;
}
.scholarship-list-item {
  padding: 15px;
  border: 1px solid #555555;
  border-bottom-width: 0;
  background-color: #EEF7FC;
}
.scholarship-list-item:last-child {
  border-bottom-width: 1px;
}
.scholarship-list-item.philturz-list-item-even {
  background-color: #CDE9F6;
}
.scholarship-list-item > div {
  font-size: 0;
}
.scholarship-list-item > div + div {
  margin-top: 10px;
}
.scholarship-list-item > div > label,
.scholarship-list-item > div > span {
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}
.scholarship-list-item > div > label {
  width: 30%;
  font-weight: bold;
}
.scholarship-list-item > div > span {
  width: 70%;
  padding-left: 10px;
}
@media screen and (min-width: 768px) {
  .scholarship-list {
    display: table;
    width: 100%;
  }
  .scholarship-list-header,
  .scholarship-list-item {
    display: table-row;
    width: 100%;
    padding: 0;
  }
  .scholarship-list-header > div,
  .scholarship-list-item > div {
    display: table-cell;
    box-sizing: border-box;
    width: 18%;
    padding: 15px;
  }
  .scholarship-list-header > div:first-child,
  .scholarship-list-item > div:first-child {
    width: 28%;
  }
  .scholarship-list-item > div + div {
    margin-top: 0;
  }
  .scholarship-list-item > div > label {
    display: none;
  }
  .scholarship-list-item > div > span {
    width: 100%;
    padding: 0;
  }
}


.philturz-filter,
.philturz-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.philturz-filter-form {
  display: block;
  width: 100%;
}
.philturz-filter-item + .philturz-filter-item {
  margin-top: 10px;
}
.philturz-filter-item + .philturz-filter-item.philturz-filter-item-type-multiple {
  margin-top: 20px;
}
.philturz-filter-item-type-single .philturz-filter-item-label {
  display: none;
}
.philturz-filter-item-label {
  font-weight: bold;
}
.philturz-filter-item-type-multiple .philturz-filter-item-label {
  padding-left: 15px;
  padding-right: 15px;
}
.philturz-filter-item-type-multiple .philturz-filter-item-control {
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 15px;
}
.philturz-filter-item-type-multiple .philturz-filter-item-control:first-of-type {
  border-top: 1px solid #555555;
  padding-top: 15px;
  margin-top: 10px;
}
.philturz-filter-item-control-label {
  position: relative;
  display: inline-block;
  padding-left: 25px;
}
.philturz-filter-item-control-label .philturz-filter-item-control-input {
  position: absolute;
  left: 0;
}
.philturz-filter-item-type-single .philturz-filter-item-control-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.philturz-filter-item-type-single .philturz-filter-item-control-input::-ms-expand {
  display: none;
}
.philturz-filter-item-type-single .philturz-filter-item-control-input {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-right: 30px;
  border: 1px solid #555555;
  line-height: 1;
  font-style: italic;
  color: #555555;
  background: transparent;
  z-index: 1;
}
.philturz-filter-item-type-single .philturz-filter-item-control {
  position: relative;
}
.philturz-filter-item-type-single .philturz-filter-item-control::after {
  content: '';
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  top: 15px;
  right: 15px;
  font-size: 15px;
  line-height: 1;
  border-width: 1px;
  border-color: #555555;
  border-right-style: solid;
  border-bottom-style: solid;
  transform: rotate(45deg);
}
.philturz-filter-reset {
  width: 100%;
  margin-top: 30px;
}
.philturz-filter-reset-button {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  line-height: 1;
  font-style: italic;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #555555;
  border-radius: 20px;
  box-shadow: none;
}
.philturz-filter-reset-button:hover,
.philturz-filter-reset-button:active {
  background-color: #FCFCFC;
}
@media screen and (min-width: 544px) {
  .philturz-filter-form {
    display: flex;
    flex-wrap: wrap;
  }
  .philturz-filter-item {
    box-sizing: border-box;
    width: 50%;
  }
  .philturz-filter-item.philturz-filter-item-type-multiple {
    width: 100%;
  }
  .philturz-filter-item + .philturz-filter-item:nth-child(2) {
    margin-top: 0;
  }
  .philturz-filter-item:nth-child(2n - 1).philturz-filter-item-type-single {
    padding-right: 5px;
  }
  .philturz-filter-item:nth-child(2n).philturz-filter-item-type-single {
    padding-left: 5px;
  }
  .philturz-filter-reset {
    text-align: right;
  }
  .philturz-filter-reset-button {
    width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .philturz-filter-item.philturz-filter-item-type-single {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .philturz-filter-item:nth-child(4n - 3).philturz-filter-item-type-single {
    padding-left: 0;
  }
  .philturz-filter-item:nth-child(4n).philturz-filter-item-type-single {
    padding-right: 0;
  }
  .philturz-filter-item.philturz-filter-item-type-multiple {
    width: 50%;
  }
  .philturz-filter-item:nth-child(2n - 1).philturz-filter-item-type-multiple {
    padding-right: 5px;
  }
  .philturz-filter-item:nth-child(2n).philturz-filter-item-type-multiple {
    padding-left: 5px;
  }
  .philturz-filter-item + .philturz-filter-item {
    margin-top: 0;
  }
  .philturz-filter-item + .philturz-filter-item:nth-child(1n + 5) {
    margin-top: 10px;
  }
}
